IMAGE_REF={{ current_image_ref }}
APP_VERSION={{ current_image_ref.split(':') | last if current_image_ref else '' }}
API_PORT=8080
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DATA_DIR={{ eac_runtime_root }}/persist/postgres
