[defaults]
inventory = inventory/generated.ini
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = roles
ssh_args = -o StrictHostKeyChecking=yes -o UserKnownHostsFile=inventory/known_hosts

[privilege_escalation]
become = True
