#cloud-config
users:
  - default
  - name: deploy
    groups: [adm]
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - ${deploy_ssh_public_key}

ssh_pwauth: false
disable_root: true

write_files:
  - path: /etc/ssh/sshd_config.d/60-deploy-key-only.conf
    permissions: "0644"
    content: |
      PasswordAuthentication no
      PermitRootLogin no
  - path: /etc/netplan/60-eac-demo-static.yaml
    permissions: "0600"
    content: |
      network:
        version: 2
        ethernets:
    ens4:
            dhcp4: false
            dhcp6: false
            addresses:
              - ${vm_ip}/24

runcmd:
  - [netplan, apply]
  - [systemctl, restart, ssh]
